/*Global styles
-------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  margin: 4%; 
}
body {
    max-width: 1440px;
    width:100%;
  background-color: hsl(0, 0%, 98%);
  background-color: hsl(257, 40%, 49%);
  background-image: url("./images/bg-desktop.svg");
}
/*Images styles
-------------------------------------------*/
.mockup-image{
    width: 650px;
}
.huddle-logo{
    width: 180px;
    padding-bottom: 5%;
}
/*Body styles
-------------------------------------------*/
.flex-wrap{
    display: flex;
    flex-direction: row;
}
